.container {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    width: 43%;
    min-height: 200px;
    /* background-color: rgba(255, 255, 255, 0.397); */
    color: #f2f2f2;
    font-size: 2rem;
    margin: auto 0;
    text-align: center;
}

.container h2 {
    margin-bottom: 1.3rem;
}

.container h2 span {
    color: #F40000;
    font-size: 1.2em;
}

.container p {
    margin-bottom: 1.5rem;
}

.container img {
    height: 300px;
}