.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
    font-size: 2.7rem;
    margin: auto;
}

.container img {
    width: 60px;
    height: 60px;
}

.container.main {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #303036;
    color: #f2f2f2;
}

.container.main img {
    width: 80px;
    height: 80px;
}