.projects_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 450px;
    margin: auto 0;
    font-size: 2rem;
}

.projects_container .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.7rem;
}

.projects_container .header h2 {
    color: #f2f2f2;
}

.projects_container .header a {
    background-color: #b70000;
    color: #eaeaeb;
    border: 2px solid #b70000;
    border-radius: 5px;
    padding: 1rem;
    font-size: 0.8em;
    font-weight: bold;
    transition: 0.3s;
}

.projects_container .header a:hover {
    background-color: #eaeaeb;
    color: #b70000;
}

.projects_container .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* background-color: rgba(255, 255, 255, 0.3); */
    gap: 1.5rem;
}

.noprojects {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #eaeaeb;
    font-size: 2rem;
    margin-top: 2rem;
}

.noprojects h3 {
    margin-bottom: 1rem;
}

.noprojects p {
    margin-bottom: 2rem;
}

.noprojects a {
    width: 100%;
}

.noprojects img {
    width: 200px;
    height: 200px;
    margin-top: 1.8rem;
}